@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display SC", serif;

}

body{
    background-image: url(beach.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.quote-box .timeText {
    font-size: 30px;
    font-weight: 900;
    margin-top: 1px;
    opacity: 1.1;
    color: black;
  }

#timeGreeting {
    position: relative;
    left: -50%; /* Start off-screen on the left */
    animation: slideFromLeft 5s ease-in-out forwards; /* Slide in from left over 5 seconds */
  }
  
@keyframes slideFromLeft {
    0% {
      left: -20%; /* Start off-screen on the left */
    }
    100% {
      left: 0; /* Slide to the center */
    }
  }
.quote-box{
    background-image: url(box.jpg);
    background-position: center;
    background-size: cover;
    min-width: 350px;
    /* position: absolute; */
    position: relative;
    margin: 0 45px 0 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
    height: 60vh;

}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 55px;
    position: relative;
    color: black;
    opacity: 1.1;
    margin-top: 5px;


}

.quote-box h2::after{
    content: '';
    width: 5px;
    height: 3px;
    border-radius: 3px;
    background: rgb(12, 12, 12);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}
.quote-box h2:hover::after{
    width: 300px;
}

.quote-box blockquote{
    font-size: 26px;
    min-height: auto;
    font-weight: 600;


}

.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';

}

.quote-box span{
    display: block;
    margin-top: 1px;
    float: right;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transition: 2s;

}
.quote-box span:hover{
    background-color: rgba(255, 255, 255, 0.675);
    color: black;
    padding: 2px 3px;
    border-radius: 5%;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    color: black;
    top: 50%;
    left: -30px;
    /* right: 150px; */ 
    /* not used right bcoz when the name of author is bigger it will overlap */
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button{
    background: rgba(194, 193, 193, 0.43) ;
    color: black;
    border-radius: 25px;
    border: 1px solid rgb(222, 226, 231);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    background: rgba(235, 232, 232, 0.471);

}

.quote-box button img{
    width: 26px;
    height: 25px;
    margin-right: 10px;
}



@media screen and (max-width: 600px) {
    body{
        width: auto;
        height: 100vh;
    }

    .quote-box .timeText{
        margin-top: 1%;
        font-size: 20px;
    }




    .quote-box {
        background: url(box.jpg);
        background-position: center;
        background-size: cover;
        min-width: calc(100% - 90px); /* Adjusted to fit the screen */
        margin-left: 0;
        overflow-x: hidden; /* Prevent horizontal scrolling */
        margin-top: 0;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .quote-box h2 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 900;
    }

    .quote-box blockquote {
     
        font-size: 26px;
        min-height: 200px;
        font-weight: 900;
        white-space: pre-wrap;
        overflow-y: scroll;
        
        width: calc(100% - 30px);
        margin: 9px 5px;
    }

    .quote-box button img {
        width: 13px;
        height: 12px;
        margin-right: 5px;
    }

    .quote-box button {
        background: rgba(77, 75, 75, 0.418);
        color: #fff;
        border-radius: 12px;
        width: 75px;
        height: 25px;
        margin: 3px;
        font-size: 8px;
    }

    
}
